# ANN Regression

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

### Process the data

In [4]:
df = df.drop(['RowNumber','CustomerId','Surname'], axis=1)

### Encode categorical variables

In [5]:
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

In [6]:
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

### One Hot Encode 'Geography'

In [7]:
one_hot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = one_hot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encodef_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encodef_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

### Combine one-hot encoded columns with original data

In [8]:
df = pd.concat([df.drop('Geography', axis=1), geo_encodef_df], axis=1)
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

### Split the data into feature and target

In [9]:
X = df.drop('EstimatedSalary', axis=1)
y = df['EstimatedSalary']

### Split the data into train and test

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=42)

### Scale the features

In [12]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

### Save the encoders and scaler for later use

In [13]:
with open("label_encoder_gender.pkl", "wb") as file:
    pickle.dump(label_encoder_gender, file)

with open("one_hot_encoder_geo.pkl", "wb") as file:
    pickle.dump(one_hot_encoder_geo, file)

with open("scaler.pkl", "wb") as file:
    pickle.dump(scaler, file)

## ANN Regression Problem statement

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

### Build the model

In [ ]:
model = Sequential(
    [
        Dense(64, activation='relu', input_shape = (X_train.shape[1],)),
        Dense(32, activation='relu'),
        Dense(1) # Output layer for regression, If we are not specifying anything, it will take linear regression  by default
    ]
)

### Compile the model

In [19]:
model.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mae'])
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

### Tensorboard creation

In [21]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

## Setup the tensorboard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

### Setup early stopping

In [24]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

### Train the model

In [25]:
history = model.fit(X_train, y_train,
                    validation_data = (X_test, y_test),
                    epochs = 100,
                    callbacks = [early_stopping_callback, tensorboard_callback]
                    )

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 67112.9766 - mae: 67112.9766 - val_loss: 62492.9258 - val_mae: 62492.9258
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 61263.2188 - mae: 61263.2188 - val_loss: 54184.4609 - val_mae: 54184.4609
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 53183.8477 - mae: 53183.8477 - val_loss: 51043.1641 - val_mae: 51043.1641
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51715.0586 - mae: 51715.0586 - val_loss: 50824.7227 - val_mae: 50824.7227
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50266.3008 - mae: 50266.3008 - val_loss: 50346.7852 - val_mae: 50346.7852
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51667.7422 - mae: 51667.7422 - val_loss: 50343.7227 - val_mae: 50343.7227
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50639.2852 - mae: 50639.2852 - val_loss: 50375.6953 - val_mae: 50375.6953
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51375.3086 - mae: 51375.3086 - val_loss: 50478.8633 - val_mae: 50478.8633
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50759.4883 - mae: 50759.4883 - val_loss: 50463.1484 - val_mae: 50463.1484
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51130.7812 - mae: 51130.7812 - val_loss: 50335.7305 - val_mae: 50335.7305
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51765.8945 - mae: 51765.8945 - val_loss: 50325.0078 - val_mae: 50325.0078
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51860.2305 - mae: 51860.2305 - val_loss: 50708.7148 - val_mae: 50708.7148
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51494.4258 - mae: 51494.4258 - val_loss: 50519.7227 - val_mae: 50519.7227
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50635.8672 - mae: 50635.8672 - val_loss: 50934.2188 - val_mae: 50934.2188
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51220.1055 - mae: 51220.1055 - val_loss: 50428.2266 - val_mae: 50428.2266
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50868.2266 - mae: 50868.2266 - val_loss: 50307.3047 - val_mae: 50307.3047
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50324.9922 - mae: 50324.9922 - val_loss: 50486.0977 - val_mae: 50486.0977
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50912.8438 - mae: 50912.8438 - val_loss: 50473.1562 - val_mae: 50473.1562
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50956.0938 - mae: 50956.0938 - val_loss: 50476.9102 - val_mae: 50476.9102
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50011.5039 - mae: 50011.5039 - val_loss: 50381.7891 - val_mae: 50381.7891
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51677.1172 - mae: 51677.1172 - val_loss: 50749.3789 - val_mae: 50749.3789
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51153.4922 - mae: 51153.4922 - val_loss: 50319.5977 - val_mae: 50319.5977
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51082.0742 - mae: 51082.0742 - val_loss: 50585.2930 - val_mae: 50585.2930
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50725.3867 - mae: 50725.3867 - val_loss: 50316.0742 - val_mae: 50316.0742
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51279.2578 - mae: 51279.2578 - val_loss: 50333.4492 - val_mae: 50333.4492
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50978.8594 - mae: 50978.8594 - val_loss: 50364.8242 - val_mae: 50364.8242

In [27]:
%load_ext tensorboard

In [29]:
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6006 (pid 13012), started 0:01:58 ago. (Use '!kill 13012' to kill it.)

### Evaluate the model on th etest data

In [31]:
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test mae", {test_mae})

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50877.3320 - mae: 50877.3320
Test mae {50307.3046875}

In [32]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.